[submodule "src/themes/hugo-dusk"]
	path = src/themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk.git
[submodule "src/themes/hugo-flex"]
	path = src/themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
